.manage-order {
  border: 1px solid tomato;
  padding: 10px;
  box-shadow: 5px 5px 10px gray;
  margin-left: 20px;
}
.manage-order:hover {
  border-radius: 30px;
  transition: 1s;
  box-shadow: 10px 15px 2px rgb(87, 87, 87);
}
.img-style:hover {
  border-radius: 50px;
  transition: 1s;
}
